[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = git@github.com:sunghyunjun/hugo-PaperMod.git
[submodule "content/blog-example"]
	path = content/blog-example
	url = git@github.com:sunghyunjun/blog-example.git
